{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Echo</title>
    {% tailwind_css %}
  </head>

  <body>
    <div class="w-full mt-72 flex-col justify-center items-center gap-6 flex">
      <div class="flex-col justify-start items-center gap-8 flex">
        <div class="flex-col justify-center items-center gap-2 flex">
          <div class="md:text-4xl text-3xl md:font-bold p-4 mb-8 text-center font-semibold">Activation Email Sent</div>
          <p class="p-4 mb-8 text-center">An activation link has been sent to your email address. Please check your inbox and click the activation link to activate your account.</p>
          <div>
            <a href="{% url 'login' %}"><button class="w-96 px-[94px] py-6 bg-blue-800 justify-center items-center gap-4 inline-flex font-medium text-white">Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
