{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Echo</title>
    {% tailwind_css %}


  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="w-full mt-72 flex-col justify-center items-center gap-6 flex">
        <div class="flex-col w-[619px] justify-start items-start gap-8 flex">
          <div class="h-[89px] flex-col justify-center items-start gap-2 flex">
            <p class="text-[40px] font-bold">Enter a new Password</p>
            <p class="text-sm">Password should contain a captial letter, a number and a special character</p>
          </div>
          <div class="flex-col w-full justify-start items-start gap-4 flex">
            <div class="w-full">
              <input type="password" name="new_password1" id="new_password1" class="border-hidden w-full p-6 bg-blue-100" placeholder="New Password" required />
            </div>
            <div class="w-full">
              <input type="password" name="new_password2" id="new_password2" class="border-hidden w-full p-6 bg-blue-100" placeholder="Confirm Password" required />
            </div>
            <div class="w-full px-[94px] py-6 bg-blue-800 justify-center items-center gap-4 inline-flex">
              <button type="submit" id="submit" class="text-white text-base font-normal">Reset Password</button>
            </div>
          </div>
        </div>
        <div>
          {% for message in messages %}
          <div id="message" class="bg-red-100 w-[619px] border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show" role="alert">
            <button onclick="closeAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
          {% endfor %}
        </div>
        <div class="text-center">
          {% for error in form.password2.errors %}
          <div id="message" class="bg-red-100 w-[619px] border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show" role="alert">
            <button onclick="closeAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ error }}
          </div>
          {% endfor %}
         
          {% for error, fields in form.errors.items %}
          <div id="message" class="bg-red-100 w-[619px] border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show flex" role="alert">
            <button onclick="closeAlert(this)" type="button" class="px-8" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="flex space-x-2 mx-auto">
             
              <p>{{fields}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </body>
  <script>
    function closeAlert(button) {
      var alertElement = button.closest(".alert");

      if (alertElement) {
        alertElement.style.display = "none";
      }
    }
  </script>
</html>
