{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% tailwind_css %}

    <title>Echo</title>


  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="w-full mt-72 flex-col justify-center items-center gap-6 flex">
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="h-[89px] flex-col justify-center items-start gap-2 flex">
            <p class="text-black text-[40px] font-bold">Forgot Password</p>
            <p class="w-[619px] text-black text-sm">Enter your email and we'll send you instructions on how to reset your password</p>
          </div>
          <div class="flex-col w-full justify-start items-start gap-4 flex">
            <div class="w-full">
              <input type="email" name="email" id="email" class="border-hidden w-full p-6 bg-blue-100" placeholder="Email Address" />
            </div>
            <div class="">
              <button type="submit" id="submit" class="text-white text-base font-normal w-[619px] px-[94px] py-6 bg-blue-800 justify-center items-center gap-4 inline-flex">Send Instructions</button>
            </div>
          </div>
        </div>
        <div>
          <p>
            Go back to <span class="font-bold"><a class="text-black" href="{% url 'login' %}"> Login Page</a></span>
          </p>
          {% for error in form.email.errors %}
          <div id="message" class="bg-red-100 border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative" role="alert">
            <button type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span> {{ error }}</button>
          </div>
          {% endfor %}
        </div>
        <div>
          {% for message in messages %}
          <div id="message">
            <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %} {{ message }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </body>
</html>
