{% load static tailwind_tags%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Echo</title>

  </head>
    {% tailwind_css %}
   
  </head>
  <body>
    <div class=" mt-32 w-full flex justify-center items-center">
      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <div>
            <div>
              <div>
                <p class="md:text-4xl text-3xl md:font-bold p-4 mb-8 text-center font-semibold">Sign Up</p>
              </div>
              <div class="flex-col justify-center items-center gap-4 flex">
                <div>
                  <input type="text" name="username" id="username" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="Username" />
                </div>
                <div >
                  <input type="email" name="email" id="email" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="Email" />
                </div>
                <div>
                  <input type="text" name="first_name" id="first_name" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="First Name" />
                </div>
                <div>
                  <input type="text" name="last_name" id="last_name" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="Last Name" />
                </div>
                <div class="mx-auto justify-center items-center text-center">
                  <input type="password" name="password1" id="password1" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="Password" />
                  <p class="text-xs text-left w-96 text-gray-400 mt-4"> Password should contain one capital letter, one number and one special character </p>
                   
                </div>
                <div>
                  <input type="password" name="password2" id="password2" class="w-96 justify-center items-center inline-flex mx-auto border-hidden p-6 bg-blue-100" placeholder="Confirm Password" />
                </div>
    
                <div>
                  <button type="submit" id="submit" class="w-96 px-[94px] py-6 bg-blue-800 justify-center items-center gap-4 inline-flex font-medium text-white">Sign Up</button>
                </div>
              </div>
            </div>
            
         
            <div>
              {% for message in messages %}
              <div id="message" class="bg-red-100 mx-auto w-96 border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show" role="alert">
                <button onclick="closeAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
              {% endfor %}
            </div>
            <div class="text-center">
              {% for error in form.password2.errors %}
              <div id="message" class="bg-red-100 mx-auto w-96 border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show" role="alert">
                <button onclick="closeAlert(this)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ error }}
              </div>
              {% endfor %}
              <!-- {{ form.errors }} -->
              {% for error, fields in form.errors.items %}
              <div id="message" class="bg-red-100 mx-auto w-96 border border-red-400 text-red-700 px-4 mt-8 py-3 rounded relative alert alert-dismissible fade show flex" role="alert">
                <button onclick="closeAlert(this)" type="button" class="px-8" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="flex space-x-2">
                  <p>{{ error|title }}:</p>
                   <p>{{fields}}</p> 
                </div>
                
              </div>
              {% endfor %}
            </div>
            
          </div>
        </form>
        <div class="p-4 m-4 text-center mx-auto items-center justify-center">
          <p class="p-4 font-semibold">Already have an account?</p>
          <div>
            <a href="{% url 'login' %}"><button class="w-96 px-[94px] py-6 bg-blue-800 justify-center items-center gap-4 inline-flex font-medium text-white">Login</button></a>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <script>
    function closeAlert(button) {
      var alertElement = button.closest(".alert");

      if (alertElement) {
        alertElement.style.display = "none";
      }
    }
  </script>
</html>


