{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
   
    <title>Echo</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="md:py-4 w-full fixed top-0 md:bg-blue-800">{% include 'news/navbar.html' %}</div>
    <div class="grid grid-cols-4 mx-auto p-8 max-w-screen-2xl mt-32">
      <div class="col-span-1">{% include 'news/sidebarLeft.html' %}</div>

      <!--  -->
      <div class="col-span-2 max-w-screen-2xl mx-auto">{% block content %}{% endblock content %}</div>

      <!--  -->

      <div class="w-full col-span-1">{% include 'news/sidebarRight.html' %}</div>
    </div>
  </body>
</html>
